/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../201c11187849168b6cf0.jpg);
  background-position: center;
  background-size: cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(60, 38, 22, 0.63);
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1rem;
  text-align: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;
}

.header__nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}

.header__section {
  width: 100%;
}
.header__section .header__section__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 30rem;
  margin: 0 auto;
}
.header__section .header__section__block h1 {
  position: relative;
  font-size: x-large;
  color: white;
}
.header__section .header__section__right {
  position: relative;
  background-image: url(../08d326db72a76cf9c621.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 80vh;
}

.video__upload__form__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__section {
  width: 100%;
  height: 100vh;
  background-color: beige;
}
