header
    div.header__block
        a(href="/").header__logo Archiever
        nav.header__nav
            ul.header__nav__ul
                li 로그인 
                li 회원가입
                li 로그아웃
    section.header__section 
        div.header__section__block 
            div 
                h1 아카이버는 영상 콘텐츠 플랫폼 입니다 
                p 사람들의 추억이 잘 저장되도록
                p 사람들이 자신의 행복을 발견할 수 있도록
                p 각자의 행복을 나누며 공감하도록 
                p 아카이버가 도와주겠습니다!
            div 
                h2 Right Card Section